<div class="flex flex-col pb-4 relative" style="width: 100vw; max-width: 700px;">
  <div class="py-4 px-4 dialog-header">{{dialogHeader}}</div>
  <div class="w-full">
    <div class="mx-4 bg-input rounded-xl p-1 input-field">
      <div class="input-label px-2">{{nameHeader}}</div>
      <input class="w-full text-xs px-2 bg-input rounded-xl border-none outline-none"
             placeholder="Укажите название склада"
             [formControl]="nameForm"
             [required]="true">
    </div>
    <div class="px-3 mt-3">
      <button (click)="change()"
              class="rounded-xl py-2.5 w-full w-full text-white dialog-button disabled:bg-gray-400"
              [disabled]="!(nameForm.value && nameForm.value.length > 0)"
              [ngClass]="{'bg-burger': !data.warehouse.id, 'bg-update': data.warehouse.id}">
        {{saveButtonText}}
      </button>
      <button *ngIf="data.warehouse.id"
              (click)="remove()"
              class="rounded-xl bg-remove py-2.5 w-full w-full text-white mt-3 dialog-button">
        Удалить
      </button>
    </div>
  </div>
  <div class="rounded-full h-10 w-10 fill-gray-600 cursor-pointer flex items-center justify-center hover:bg-gray-100 absolute right-2 top-2 transition-all duration-300"
       (click)="closeDialog()">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
  </div>
</div>
