<mat-drawer-container hasBackdrop="true">
  <mat-drawer #drawer position="end" mode="over" [opened]="false" class="w-1/3">
    <div>OLOLO</div>
  </mat-drawer>
  <mat-drawer-content>
    <ng-template [ngIf]="systemService.uiStyle === 'modern'">
      <div class="flex flex-col lg:flex-row">
        <div class="w-full h-12
              absolute left-0 z-20
              bg-back
              box-border px-4 lg:px-12
              overflow-hidden
              transition-all duration-300
              flex flex-col"
             *ngIf="systemService.oddNavigation"
             id="odd-nav"
             [ngClass]="{'border-b-[1.5px] border-gray-200': systemService.oddNavigationState}"
             style="{{systemService.oddNavigationState ? ('height:' + oddHeight + 'px !important') : ''}}"
        >
          <button class="relative group no-select -ml-3" (click)="changeFocus()">
            <div class="relative flex overflow-hidden items-center justify-center
                    rounded-full w-[50px] h-[50px] bg-back border border-transparent shadow-none
                    transform transition-all duration-100">
              <div class="flex flex-col justify-between
                      w-[20px] h-[20px] origin-center overflow-hidden
                      transform transition-all duration-100">
                <div class="bg-burger h-[2px] w-7
                        transform transition-all duration-200
                        origin-left" [ngClass]="{'translate-x-10': systemService.oddNavigationState}">
                </div>
                <div class="bg-burger h-[2px] w-7 rounded
                        transform transition-all duration-200
                        delay-75" [ngClass]="{'translate-x-10 ': systemService.oddNavigationState}">
                </div>
                <div class="bg-burger h-[2px] w-7
                        transform transition-all duration-200 delay-100
                        origin-left" [ngClass]="{'translate-x-10': systemService.oddNavigationState}">
                </div>

                <div class="absolute flex items-center justify-between
                        transform transition-all duration-300
                        top-2.5 -translate-x-10 w-0" [ngClass]="{'translate-x-0 w-12': systemService.oddNavigationState}">
                  <div class="absolute bg-burger h-[2px] w-5
                          transform transition-all duration-300
                          rotate-0 delay-300" [ngClass]="{'rotate-45': systemService.oddNavigationState}">
                  </div>
                  <div class="absolute bg-burger h-[2px] w-5
                          transform transition-all duration-300
                          -rotate-0 delay-300" [ngClass]="{'-rotate-45': systemService.oddNavigationState}">
                  </div>
                </div>
              </div>
            </div>
          </button>
          <a *ngIf="systemService.role === 'admin'" rel="nofollow" rel="noreferrer" class="nav-item " href="dashboard">Дашборд</a>
          <a *ngIf="systemService.role === 'admin'" rel="nofollow" rel="noreferrer" class="nav-item " href="experimental/stock/goods">Склад</a>
          <a *ngIf="systemService.role === 'admin'" rel="nofollow" rel="noreferrer" class="nav-item" href="fin">Финансы</a>
          <a *ngIf="['admin', 'sales_manager'].includes(systemService.role)" rel="nofollow" rel="noreferrer" class="nav-item" href="crm">Заказы</a>
          <a *ngIf="['admin', 'sales_manager'].includes(systemService.role)" rel="nofollow" rel="noreferrer" class="nav-item" href="new-order">Новый заказ</a>
          <a *ngIf="['manufacture_worker', 'manufacture_can_print'].includes(systemService.role)" rel="nofollow" rel="noreferrer" class="nav-item" href="manufacture">Операции</a>
          <a *ngIf="['admin', 'manufacture_admin'].includes(systemService.role)" rel="nofollow" rel="noreferrer" class="nav-item" href="wb-stocks">Остатки WB</a>
          <a *ngIf="['admin', 'manufacture_admin', 'manufacture_worker', 'manufacture_can_print'].includes(systemService.role)" rel="nofollow" rel="noreferrer" class="nav-item" href="manufacture-products">Заказы производство</a>
          <a *ngIf="['admin', 'manufacture_admin', 'manufacture_worker', 'manufacture_can_print'].includes(systemService.role)" rel="nofollow" rel="noreferrer" class="nav-item" href="manufacture/supplies">Поставки</a>
<!--          <a *ngIf="['admin', 'manufacture_admin', 'manufacture_worker', 'manufacture_can_print'].includes(systemService.role)" rel="nofollow" rel="noreferrer" class="nav-item" href="barcode-scanner">Сканер штрих-кодов</a>-->
          <a *ngIf="['admin', 'manufacture_admin'].includes(systemService.role)" rel="nofollow" rel="noreferrer" class="nav-item" href="stock">Склад</a>
          <a *ngIf="['admin', 'manufacture_admin'].includes(systemService.role)" rel="nofollow" rel="noreferrer" class="nav-item" href="settings/manufacture-reports">Отчеты рабочих</a>
          <a *ngIf="systemService.role === 'admin'" rel="nofollow" rel="noreferrer" class="nav-item" href="settings/users">Справочники</a>
        </div>
        <div *ngIf="systemService.currentState" class="fixed left-0 top-0 lg:relative z-30
              flex flex-col space-y-0.5
              h-screen py-1  custom-scroll overflow-hidden text-white fill-white font-normal
              bg-indigo-900
              transition-all duration-200"
             [ngClass]="{' w-[85%] lg:w-96 px-4 overflow-y-scroll': systemService.menuStatus, 'w-0': !systemService.menuStatus}">
          <ng-template ngFor let-section [ngForOf]="config">
            <div class="text-gray-400 font-bold text-xs pt-3 text-indigo-400">{{section.header | uppercase}}</div>
            <ng-template ngFor let-node [ngForOf]="section.nodes">
              <div *ngIf="!node.items; else complex"
                   class="w-full h-11 px-4 py-3 rounded-lg
                    text-lg whitespace-nowrap
                    relative pl-12
                    cursor-pointer text-md leading-tight
                    hover:bg-indigo-400 cursor-pointer
                    transition-all duration-200"
                   [routerLink]="node.routerLink"
                   [routerLinkActive]="'bg-indigo-400'" (click)="systemService.menuStatus = false">
                <mat-icon class="absolute z-30 left-4 top-1/2 -translate-y-1/2 menu-icon">{{node.icon}}</mat-icon>
                <div>{{node.header}}</div>
              </div>
              <ng-template #complex>
                <app-complex-navigation [header]="node.header" [items]="node.items || []" [icon]="node.icon">
                </app-complex-navigation>
              </ng-template>
            </ng-template>
          </ng-template>



        </div>
        <div class="lg:h-screen flex-1 bg-back relative">
          <div *ngIf="systemService.currentState" class="fixed ml-0 mt-0
                h-14 w-full px-4
                bg-back shadow-md
                border-b
                flex items-center box-border">
            <button class="rounded-full h-12 w-12
                     hover:bg-gray-200
                     flex items-center justify-center"
                    (click)="systemService.menuStatus = !systemService.menuStatus">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
            </button>
          </div>
          <router-outlet></router-outlet>
        </div>
        <div *ngIf="systemService.menuStatus"
             class="lg:hidden
              fixed w-screen h-screen z-20
              bg-black opacity-40"
             (click)="systemService.menuStatus = false"></div>
      </div>
    </ng-template>
    <ng-template [ngIf]="systemService.uiStyle === 'classic'">
      <div class="min-h-screen w-full bg-back relative">
        <div class="fixed left-4 top-4 z-10
                h-12 w-12
                rounded-full border-[1.5px] shadow-lg
                cursor-pointer no-select
                flex items-center justify-center
                bg-blue-200 hover:bg-blue-100 fill-gray-600
                transition-all duration-300"
             (click)="systemService.classicMenuStatus = true">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
          </svg>
        </div>
        <div class="w-full max-w-10xl overflow-hidden">
          <router-outlet></router-outlet>
        </div>
        <div class="w-screen
                box-border pt-14 px-10 pb-8 lg:pb-14 lg:px-14 bg-white shadow-lg
                fixed z-20 left-0 text-blue-400
                grid grid-cols-1 lg:grid-cols-4 xl:grid-cols-5
                gap-x-4 lg:gap-x-6 gap-y-2 lg:gap-y-6
                transition-all duration-300"
             [ngClass]="{'top-0': systemService.classicMenuStatus, '-top-full': !systemService.classicMenuStatus}">
          <div class="absolute left-4 top-4 z-30
                h-12 w-12
                rounded-full border-[1.5px] shadow-lg
                cursor-pointer no-select
                flex items-center justify-center
                bg-blue-200 hover:bg-blue-100 fill-gray-600
                transition-all duration-300"
               (click)="systemService.classicMenuStatus = false">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
            </svg>
          </div>

          <div class="flex lg:flex-col items-center justify-start
                  lg:py-8 px-4 lg:px-12
                  rounded-xl border-[1.5px] border-transparent lg:border-gray-300
                  cursor-pointer text-center no-select
                  lg:hover:bg-blue-100 lg:hover:shadow-lg
                  transition-all duration-300">
            <div class="mr-2">
              <mat-icon class="lg:scale-150">dashboard</mat-icon>
            </div>
            <div class="-mt-1 lg:mt-2 text-lg">Дашборд</div>
          </div>
          <div class="flex lg:flex-col items-center
                  lg:py-8 px-4 lg:px-12
                  rounded-xl border-[1.5px] border-transparent lg:border-gray-300
                  cursor-pointer text-center no-select
                  lg:hover:bg-blue-100 lg:hover:shadow-lg
                  transition-all duration-300">
            <div class="mr-2">
              <mat-icon class="lg:scale-150">currency_ruble</mat-icon>
            </div>
            <div class="-mt-1 lg:mt-1 text-lg">Финансы</div>
          </div>
          <div class="flex lg:flex-col items-center
                  lg:py-8 px-4 lg:px-12
                  rounded-xl border-[1.5px] border-transparent lg:border-gray-300
                  cursor-pointer text-center no-select
                  lg:hover:bg-blue-100 lg:hover:shadow-lg
                  transition-all duration-300">
            <div class="mr-2">
              <mat-icon class="lg:scale-150">shopping_cart</mat-icon>
            </div>
            <div class="-mt-1 lg:mt-2 text-lg">Заказы</div>
          </div>
          <div class="flex lg:flex-col items-center
                  lg:py-8 px-4 lg:px-12
                  rounded-xl border-[1.5px] border-transparent lg:border-gray-300
                  cursor-pointer text-center no-select
                  lg:hover:bg-blue-100 lg:hover:shadow-lg
                  transition-all duration-300">
            <div class="mr-2">
              <mat-icon class="lg:scale-150">local_offer</mat-icon>
            </div>
            <div class="-mt-1 lg:mt-2 text-lg">Остатки WB</div>
          </div>
          <div class="flex lg:flex-col items-center
                  lg:py-8 px-4 lg:px-12
                  rounded-xl border-[1.5px] border-transparent lg:border-gray-300
                  cursor-pointer text-center no-select
                  lg:hover:bg-blue-100 lg:hover:shadow-lg
                  transition-all duration-300">
            <div class="mr-2">
              <mat-icon class="lg:scale-150">precision_manufacturing</mat-icon>
            </div>
            <div class="-mt-1 lg:mt-2 text-lg">Заказы на производство</div>
          </div>
          <div class="flex lg:flex-col items-center
                  lg:py-8 px-4 lg:px-12
                  rounded-xl border-[1.5px] border-transparent lg:border-gray-300
                  cursor-pointer text-center no-select
                  lg:hover:bg-blue-100 lg:hover:shadow-lg
                  transition-all duration-300">
            <div class="mr-2">
              <mat-icon class="lg:scale-150">local_shipping</mat-icon>
            </div>
            <div class="-mt-1 lg:mt-2 text-lg">Поставки</div>
          </div>
          <div class="flex lg:flex-col items-center
                  lg:py-8 px-4 lg:px-12
                  rounded-xl border-[1.5px] border-transparent lg:border-gray-300
                  cursor-pointer text-center no-select
                  lg:hover:bg-blue-100 lg:hover:shadow-lg
                  transition-all duration-300">
            <div class="mr-2">
              <mat-icon class="lg:scale-150">barcode_reader</mat-icon>
            </div>
            <div class="-mt-1 lg:mt-2 text-lg">Сканер штрих-кодов</div>
          </div>
          <div class="flex lg:flex-col items-center
                  lg:py-8 px-4 lg:px-12
                  rounded-xl border-[1.5px] border-transparent lg:border-gray-300
                  cursor-pointer text-center no-select
                  lg:hover:bg-blue-100 lg:hover:shadow-lg
                  transition-all duration-300">
            <div class="mr-2">
              <mat-icon class="lg:scale-150">factory</mat-icon>
            </div>
            <div class="-mt-1 lg:mt-2 text-lg">Склад</div>
          </div>
          <div class="flex lg:flex-col items-center
                  lg:py-8 px-4 lg:px-12
                  rounded-xl border-[1.5px] border-transparent lg:border-gray-300
                  cursor-pointer text-center no-select
                  lg:hover:bg-blue-100 lg:hover:shadow-lg
                  transition-all duration-300">
            <div class="mr-2">
              <mat-icon class="lg:scale-150">task</mat-icon>
            </div>
            <div class="-mt-1 lg:mt-2 text-lg">Отчеты рабочих</div>
          </div>
          <div class="flex lg:flex-col items-center
                  lg:py-8 px-4 lg:px-12
                  rounded-xl border-[1.5px] border-transparent lg:border-gray-300
                  cursor-pointer text-center no-select
                  lg:hover:bg-blue-100 lg:hover:shadow-lg
                  transition-all duration-300">
            <div class="mr-2">
              <mat-icon class="lg:scale-150">source</mat-icon>
            </div>
            <div class="-mt-1 lg:mt-2 text-lg">Справочники</div>
          </div>
        </div>
      </div>
    </ng-template>
    <div *ngIf="systemService.loaderStatus"
         class="w-screen h-screen fixed left-0 top-0 z-50 loader flex items-center justify-center">
      <mat-spinner></mat-spinner>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
